*{
	box-sizing: border-box;
}

body{
	font-family: "Varela Round", san serif;
	color:#3a3a3a;
	margin: 0;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

.hero{
	background-color: #43CDC1;
}

a{
	text-decoration: none;
}

.main-header{
	padding-top: .5em;
	padding-bottom: .5em;
}

.main-nav{
	margin-top: 5px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}

.hero{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	align-content:center;
}

.logo{
	flex-basis:100px;
}

.name{
	font-size: 1.35em;
	
}

.headline{
	color: #FFFFFF;
	text-align: center;
}

.tagline{
	color: #FFFFFF;
	padding-left: 17px;
	padding-bottom: 50px;
}

.name a,
.main-nav a{
	display: block;
	text-align: center;
	padding: 10px 15px;
}

.primary ,col{
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	background-color: #EDF4F7;


}

.primary,  h2{
	color: #0D3B57;
	padding-left: 20px;

}

.primary p {
	padding-left: 20px;
	padding-right: 10px;
	color: black;
}

.primary a {
	width: 110px;
	height: 30px;
	color: white;
	background-color: #43CDC1;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 15px;
	border-radius: 8%;
	padding-top: 5px;

}

.secondary {
	background-color: #EDF4F7;
	display: flex;
	flex-direction:column;

}

.secondary p{
	padding-left: 20px;
	padding-right: 10px;
	color: black;
}

.secondary a {
	width: 110px;
	height: 30px;
	color: white;
	background-color: #43CDC1;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 15px;
	border-radius: 8%;
	padding-top: 5px;
}

.tertiary {
	background-color: #EDF4F7;
	display: flex;
	flex-direction:column;

}

.tertiary p{
	padding-left: 20px;
	padding-right: 10px;
	color: black;

}

.tertiary a{
	width: 110px;
	height: 30px;
	color: white;
	background-color: #43CDC1;
	text-align: center;
	margin-left: 20px;
	margin-bottom: 15px;
	border-radius: 8%;
	padding-top: 5px;

}

.main-footer{
	display: flex;
	margin-top: 20px;
	background-color: #EDF4F7;
	height: 50px;
	justify-content:center;

}

.main-footer span{
	padding-top: 25px;
}
}

@media screen and (min-width: 769px){
	.main-header{
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1024px){
	.main-header{
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}
}


}